@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700&display=swap');
/* font-family: 'Sofia Sans', sans-serif; */

.timeline {
    padding: 0px 15px;
    background-color: #000;
    min-height: 100vh;
}

.timeline-items {
    max-width: calc(90% - 10px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-top: 1px solid #2f363e;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    margin-top: 10px;
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 100%;
}

.timeline-date {
    font-size: 18px;
    color: #eaa023;
    margin: 6px 0 15px;
}

.timeline-card {
    width: calc(100% - 10px);
    position: relative;
    background-color: #1D1E1F;
    text-align: left;
    transition: .4s;
}

.timeline-card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 20%;
    border-radius: 7px;
    background: linear-gradient(-135deg, #eaa023 18px, transparent 0%);
}

.timeline-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20%;
    border-radius: 7px;
    background: linear-gradient(-45deg, #eaa023 18px, transparent 0%);
}

.timeline-card a {
    display: flex;
    font-family: 'Sofia Sans', sans-serif;
    text-decoration: none;
}

.timeline-card .flex-text {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.timeline-card img {
    width: 200px;
    height: 270px;
}

.timeline-card h3 {
    /* height: 30px; */
    padding: 3.5% 5%;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    
}

.timeline-card h6 {
    padding: 3.5% 5%;
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.timeline-card p {
    width: 20%;
    height: 4px;
    margin: 8px 0 0 30px;
    background-color: #5F6368;
    border-radius: 5px;
    transition: .4s;
    position: relative;
}

.timeline-card p::after {
    content: '';
    position: absolute;
    width: 1%;
    height: 0.8px;
    left: -10px;
    background-color: #5F6368;
    border: 2px solid #5F6368;
    border-radius: 5px;
    transition: .4s;
}

.timeline-card:hover p::after {
    background-color: #fbfbfb;
    border: 2px solid #fbfbfb;
    box-shadow: 0 0 5px #fbfbfb;
}

.timeline-card:hover p {
    width: 40%;
    background-color: #fbfbfb;
    box-shadow: 0 0 5px #fbfbfb;
}
